.c-piano-roll {
  background-color: black;
}

.c-piano-roll__key {
}

.c-piano-roll__key:hover {
  cursor: pointer;
}

.c-piano-roll__key.is-pressed {
  fill: map-get($color, primary);
}

.c-piano-roll__key--natural {
  fill: white;
}

.c-piano-roll__key--accidental {
  fill: black;
  stroke: black;
  stroke-width: 1;
}
