.view {
  display: none;
}

.view:target {
  display: block;

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  animation: fadeIn 0.3s;
}

.view:last-child {
  display: block;
}

.view:target ~ * {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
