<md-input-container>
  <label>Type</label>
  <md-select ng-model="params.osc.type">
    <md-option ng-repeat="type in types">{{ type }}</md-option>
  </md-select>
</md-input-container>

<md-input-container>
  <label>Filter</label>
  <md-select ng-model="params.filter.type">
    <md-option ng-repeat="type in filters">{{ type }}</md-option>
  </md-select>
</md-input-container>

<md-slider min="1000" max="10000"
  aria-label="Filter frequency"
  ng-model="params.filter.frequency">
</md-slider>

<md-slider min="0" max="1" step="0.01"
  aria-label="Gain"
  ng-model="params.gain.gain">
</md-slider>

