.piano-roll {
  background-color: black;
}

.piano-roll__key {
}

.piano-roll__key:hover {
  cursor: pointer;
}

.piano-roll__key.is-active {
  fill: #e91e63;
}

.piano-roll__key--natural {
  fill: white;
}

.piano-roll__key--accidental {
  fill: black;
  stroke: black;
  stroke-width: 1px;
}
