<fieldset>
  <legend>Envelope</legend>

  <div class="stack">
    {% for key, label in { attack: 'Attack', decay: 'Decay', sustain: 'Sustain', release: 'Release'} %}
      <div class="field">
        <label for="envelope-{{ key }}">{{ label }}</label>
        <input id="envelope-{{ key }}" type="range" name="envelope-{{ key }}" max="1" step="0.001" value="{{ initialState.envelope[key] }}">
        <output for="envelope-{{ key }}"></output>
      </div>
    {% endfor %}
  </div>
</fieldset>
