<fieldset>
  <legend>Soundfont</legend>

  <div class="stack">
    <div class="field">
      <label for="soundfont">Soundfont</label>
      <select id="soundfont" name="soundfont" value="{{ initialState.soundfont.soundfont }}">
        {% for option in soundfonts %}
          <option value="{{ option }}"{% if option == initialState.soundfont.soundfont %} selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="field">
      <label for="instrument">Instrument</label>
      <select id="instrument" name="instrument" value="{{ initialState.soundfont.instrument }}">
        {% for label, optgroup in generalMidi %}
          <optgroup label="{{ label }}">
            {% for option in optgroup %}
              {% set text = option | replace(r/\d+/, "") | trim %}
              {% set value = text | replace(" ", "_") | replace(r/[()-]/g, "") | lower %}
              <option value="{{ value }}"{% if value == initialState.soundfont.instrument %} selected{% endif %}>{{ text }}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>
  </div>
</fieldset>
