/* =========================================================================
   Keyboard
   ========================================================================= */


.Keyboard {
  width: 100%;
  padding: lines(1);

  background-color: hsla(0, 0%, 90%, 1);

  /**
   * Descendents
   */

  &-key {

    /**
     * Modifiers
     */

    &--white {
      fill: hsla(0, 0%, 100%, 1);
    }

    &--black {
      fill: hsla(0, 0%, 0%, 1);
    }
  }
}
