button,
input,
select {
  border-width: 1px;
  background-color: transparent;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: calc(var(--lineHeight) * var(--fontSize));
}

select {
}

option + option {
  margin-top: 0;
}

button {
  overflow: visible;
}
