h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: calc(var(--fontSize) * var(--ratio) * var(--ratio) * var(--ratio));
}

h2 {
  font-size: calc(var(--fontSize) * var(--ratio) * var(--ratio));
}

h3 {
  font-size: calc(var(--fontSize) * var(--ratio));
}

h4 {
  font-size: var(--fontSize);
}

h5 {
  font-size: calc(var(--fontSize) / var(--ratio));
}

h6 {
  font-size: calc(var(--fontSize) / var(--ratio) / var(--ratio));
}

li {
  margin-top: 0;
}

dd {
  margin-top: 0;
}
