<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    var host = 'stevecherry.net';

    if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
      window.location.protocol = 'https';
    }
  </script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Soundfont</title>
  <meta name="description" content="A soundfont player.">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon-180.png">
  <link rel="apple-touch-startup-image" href="./assets/favicon-192.png">
  <link rel="icon" type="image/png" href="./assets/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="./assets/favicon-16.png" sizes="16x16">
  <link rel="mask-icon" href="./assets/favicon.svg" color="#2b8a3e">

  <meta name="apple-mobile-web-app-title" content="Soundfont">
  <meta name="theme-color" content="#2b8a3e">
  <meta name="application-name" content="Soundfont">
  <meta name="msapplication-config" content="./browserconfig.xml">
  <link rel="manifest" href="./manifest.json">

  <link rel="stylesheet" href="./styles/main.css">

  <link rel="canonical" href="https://stevecherry.net/soundfont/">
</head>
<body class="sans-serif flex flex-column min-vh-100">
  <header class="flex items-center ph3" role="banner">
    <h1>Soundfont</h1>

    <nav role="navigation">
      <ul class="flex list">
        {% for route in routes | reverse %}
          <li><a class="db pa2" href="#{{ route.path }}">{{ route.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main class="flex-auto ph3" role="main">
    {% block content %}
    <div class="is-loading">Loading&hellip;</div>
    {% endblock %}
  </main>

  <footer class="ph3 bt mt3" role="contentinfo">
    <p>A <a href="https://github.com/sccherry/soundfont">project</a> by <a href="https://stevecherry.net">Steve Cherry</a>.</p>
  </footer>

  <script src="./scripts/main.js" defer></script>
</body>
</html>
