<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    var host = 'stevecherry.net';

    if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
      window.location.protocol = 'https';
    }
  </script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Soundfont</title>
  <meta name="description" content="A soundfont player.">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon-180.png">
  <link rel="apple-touch-startup-image" href="./assets/favicon-192.png">
  <link rel="icon" type="image/png" href="./assets/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="./assets/favicon-16.png" sizes="16x16">
  <link rel="mask-icon" href="./assets/favicon.svg" color="#2b8a3e">

  <meta name="apple-mobile-web-app-title" content="Soundfont">
  <meta name="theme-color" content="#2b8a3e">
  <meta name="application-name" content="Soundfont">
  <meta name="msapplication-config" content="./browserconfig.xml">
  <link rel="manifest" href="./manifest.json">

  {% if siteData.env === 'production' %}
  <link rel="stylesheet" href="./styles/main.css">
  {% endif %}

  <link rel="canonical" href="https://stevecherry.net/soundfont/">
</head>
<body class="font-sans flex flex-col min-h-screen m-0 bg-gray-100">
  <header class="flex items-center justify-between py-2 text-white bg-green-600 fixed w-full" role="banner">
    <h1 class="text-xl my-0 ml-2">Soundfont</h1>

    <nav class="mr-2" role="navigation">
      <ul class="flex list-none pl-0 my-0">
        {% for route in routes | reverse %}
          <li><a class="block p-2 text-inherit link focus:outline-current no-underline hover:opacity-75 focus:opacity-75" href="#{{ route.path }}">{{ route.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main class="flex-auto mx-2" role="main">
    {{ content | safe }}
  </main>

  <footer class="px-2 mt-2 border-0 border-t border-solid bg-white border-gray-400" role="contentinfo">
    <p>A <a class="text-inherit hover:text-green-600 focus:text-green-600" href="https://github.com/sccherry/soundfont">project</a> by <a class="text-inherit hover:text-green-600 focus:text-green-600" href="https://stevecherry.net">Steve Cherry</a>.</p>
  </footer>

  <script src="./scripts/main.js" defer></script>
</body>
</html>
