<div class="flex-ns">
  <div class="flex-auto pr1-ns">
    <div class="bg-white pa3 ba b--moon-gray br2">
      {% include "components/octave.njk" %}
    </div>

    <div class="mt2 bg-white pa3 ba b--moon-gray br2">
      {% include "components/soundfont.njk" %}
    </div>
  </div>

  <div class="flex-auto pl1-ns">
    {% include "components/envelope.njk" %}
  </div>
</div>
