<div class="flex-ns">
  <div class="flex-auto">
    <div>
      {% include "templates/components/octave.njk" %}
    </div>

    <div class="mt2">
      {% include "templates/components/soundfont.njk" %}
    </div>

    <div id="app"></div>
  </div>

  <div class="flex-auto">
    {% include "templates/components/envelope.njk" %}
  </div>
</div>
