<!--FIXME ng-repeat="key in KeyboardCtrl.keys"-->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 518 99" class="Keyboard">

  <rect width="8" height="48" x="0" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(21)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="5" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(22)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="10" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(23)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />

  <rect width="8" height="48" x="20" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(24)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="25" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(25)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="30" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(26)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="35" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(27)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="40" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(28)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="50" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(29)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="55" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(30)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="60" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(31)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="65" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(32)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="70" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(33)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="75" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(34)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="80" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(35)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />

  <rect width="8" height="48" x="90" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(36)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="95" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(37)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="100" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(38)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="105" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(39)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="110" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(40)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="120" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(41)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="125" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(42)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="130" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(43)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="135" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(44)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="140" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(45)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="145" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(46)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="150" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(47)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />

  <rect width="8" height="48" x="160" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(48)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="165" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(49)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="170" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(50)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="175" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(51)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="180" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(52)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="190" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(53)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="195" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(54)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="200" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(55)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="205" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(56)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="210" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(57)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="215" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(58)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="220" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(59)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />

  <rect width="8" height="48" x="230" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(60)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="235" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(61)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="240" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(62)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="245" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(63)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="250" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(64)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="260" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(65)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="265" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(66)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="270" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(67)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="275" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(68)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="280" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(69)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="285" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(70)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="290" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(71)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />

  <rect width="8" height="48" x="300" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(72)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="305" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(73)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="310" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(74)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="315" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(75)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="320" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(76)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="330" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(77)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="335" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(78)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="340" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(79)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="345" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(80)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="350" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(81)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="355" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(82)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="360" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(83)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />

  <rect width="8" height="48" x="370" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(84)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="375" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(85)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="380" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(86)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="385" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(87)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="390" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(88)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="400" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(89)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="405" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(90)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="410" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(91)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="415" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(92)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="420" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(93)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="425" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(94)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="430" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(95)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />

  <rect width="8" height="48" x="440" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(96)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="445" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(97)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="450" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(98)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="455" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(99)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="460" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(100)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="470" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(101)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="475" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(102)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="480" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(103)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="485" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(104)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="490" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(105)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
    <rect width="8" height="48" x="495" class="Keyboard-key Keyboard-key--black"
      ng-mousedown="KeyboardCtrl.synth.noteOn(106)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
  <rect width="8" height="48" x="500" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(107)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />

  <rect width="8" height="48" x="510" y="50" class="Keyboard-key Keyboard-key--white"
    ng-mousedown="KeyboardCtrl.synth.noteOn(108)" ng-mouseup="KeyboardCtrl.synth.noteOff()" />
</svg>
