.flex {
  display: flex;
}

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;

  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

@media (min-width: 30em) {
  .flex-ns {
    display: flex;
  }
}
