.white {
  color: var(--white);
}

.color-inherit {
  color: inherit;
}

.bg-black {
  background-color: var(--black);
}

.bg-near-white {
  background-color: var(--near-white);
}

.bg-white {
  background-color: var(--white);
}

.bg-green {
  background-color: var(--green);
}
