:root {
  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-extra-large: 4rem;
}

.pa0 {
  padding: var(--spacing-none);
}

.pa2 {
  padding: var(--spacing-small);
}

.pa3 {
  padding: var(--spacing-medium);
}

.pl0 {
  padding-left: var(--spacing-none);
}

.pt5 {
  padding-top: var(--spacing-extra-large);
}

.pv2 {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.ph2 {
  padding-right: var(--spacing-small);
  padding-left: var(--spacing-small);
}

.ma0 {
  margin: var(--spacing-none);
}

.ml2 {
  margin-left: var(--spacing-small);
}

.mr2 {
  margin-right: var(--spacing-small);
}

.mb3 {
  margin-bottom: var(--spacing-medium);
}

.mt2 {
  margin-top: var(--spacing-small);
}

.mt3 {
  margin-top: var(--spacing-medium);
}

.mv0 {
  margin-top: var(--spacing-none);
  margin-bottom: var(--spacing-none);
}

.mh2 {
  margin-right: var(--spacing-small);
  margin-left: var(--spacing-small);
}

@media (min-width: 30em) {
  .pr1-ns {
    padding-right: var(--spacing-extra-small);
  }
}
