/* =========================================================================
   Shame
   ========================================================================= */

h1 {
  line-height: lines(4);
}

[role="banner"] {
  a {
    &:hover,
    &:focus {
      text-decoration: inherit;
    }
  }
}

nav {
  li {
    display: inline-block;
  }
}
