<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title or site.name }} | {{ site.name }}</title>
    <meta name="description" content="{{ pkg.description }}" />

    <link rel="canonical" href="{{ page.url | htmlBaseUrl(pkg.author.url) }}" />

    <link
      rel="stylesheet"
      href="https://stevecherry.net/normcore/css/normcore.css"
    />
    <link rel="stylesheet" href="/public/style.css" />

    <script src="/public/script.js" type="module"></script>
  </head>
  <body>
    <div class="cover stack">
      <header class="[ site-header ] [ cluster ] [ p-01 ]" role="banner">
        <h1 class="flex-auto">{{ site.name }}</h1>

        <nav role="navigation">
          <ul class="cluster" role="list">
            {% for route in routes | reverse %}
              <li>
                <a href="#{{ route.path }}">{{ route.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>

      <main class="[ site-main ] [ flex-auto ]" role="main">
        {{ content | safe }}
      </main>

      <footer class="[ site-footer ] [ stack ]" role="contentinfo">
        <p>{{ pkg.description }}</p>
        <p>Yet another <a href="{{ pkg.homepage }}">project</a> by <a href="{{ pkg.author.url }}">{{ pkg.author.name }}</a>.</p>
      </footer>
    </div>
  </body>
</html>
