@charset "utf-8";

@import "../lib/ui/ui";

@import "./objects/view";
@import "./components/piano-roll";

body {
  padding-right: map-get($grid, gutter);
  padding-left: map-get($grid, gutter);
}

nav {
  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    line-height: vr(2);
    padding-right: map-get($grid, gutter);
    padding-left: map-get($grid, gutter);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

footer {
  padding-top: vr(1);

  border-top: 1px solid;
}

legend {
  font-size: ms(1);
}

label {
  display: block;

  + * {
    margin-top: 0;
  }
}

input {
  width: 100%;
}

/**
 * Env: dev
 */

script + * {
  margin-top: 0;
}
