@charset "utf-8";

@import url("~tachyons/css/tachyons.css");

.piano-roll {
  background-color: black;
}

.piano-roll__key:hover {
  cursor: pointer;
}

.piano-roll__key--natural {
  fill: white;
}

.piano-roll__key--accidental {
  fill: black;
  stroke: black;
  stroke-width: 1;
}

.view {
  display: none;
}

.view:target {
  display: block;
}

.view:last-child {
  display: block;
}

.view:target ~ * {
  display: none;
}
