/* ---------------------------------- *\
   #BASE
\* ---------------------------------- */

:root {
  --color-primary: #68d391;
  --cluster-space: var(--space--1);
  --grid-space: var(--space--1);
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: var(--color-primary);
}

select {
  width: 100%;
}

/* ---------------------------------- *\
   #UTILITIES
\* ---------------------------------- */

.border {
  border: 1px solid;
}

/* ---------------------------------- *\
   #BLOCKS
\* ---------------------------------- */

/**
 * Field
 */

.field.cluster label {
  flex-basis: 100%;
}

.field output {
  flex-basis: 5ch;
}

/**
 * Piano roll
 */

.piano-roll {
  background-color: black;
}

.piano-roll-key {
  cursor: pointer;
  outline: none;
  fill: currentColor;
}

.piano-roll [aria-pressed="true"],
.piano-roll-key:focus {
  color: #68d391;
}

.piano-roll-key--natural {
  color: white;
}

.piano-roll-key--accidental {
  color: black;
}

/**
 * Site layout
 */

.site-header {
  align-items: center;
  border-bottom: 1px solid;
}

.site-main {
  margin-inline: 0.75em;
}

.site-footer {
  padding: 0.75em;
  border-top: 1px solid;
}

/**
 * Views
 */

.router {
  display: none;
}

.router:target {
  display: block;
  animation: fadeIn 0.3s;
}

.router:last-child {
  display: block;
}

.router:target ~ * {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
