/* ---------------------------------- *\
   #BASE
\* ---------------------------------- */

:root {
  --cluster-align: center;
  --cluster-space: var(--space--1);
  --cover-space: var(--space--1);
  --grid-space: var(--space--1);
}

select {
  width: 100%;
}

output {
  flex-basis: 5ch;
}

/* ---------------------------------- *\
   #UTILITIES
\* ---------------------------------- */

.border {
  border: 1px solid;
}

.border-b {
  border-block-end: 1px solid;
}

.border-t {
  border-block-start: 1px solid;
}


/* ---------------------------------- *\
   #BLOCKS
\* ---------------------------------- */

/**
 * Piano roll
 */

.piano-roll {
  background-color: black;
}

.piano-roll-key {
  cursor: pointer;
  outline: none;
  fill: currentColor;
}

.piano-roll [aria-pressed="true"],
.piano-roll-key:focus {
  color: var(--color-primary);
}

.piano-roll-key--natural {
  color: white;
}

.piano-roll-key--accidental {
  color: black;
}

/**
 * Router
 */

.router {
  display: none;
}

.router:target {
  display: block;
  animation: fadeIn 0.3s;
}

.router:last-child {
  display: block;
}

.router:target ~ * {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
