*,
:before,
:after {
  overflow: inherit;

  box-sizing: inherit;

  border: 0 solid currentColor;
}

* {
  font-size: inherit;
  line-height: inherit;

  margin: 0;
  padding: 0;
}

* + * {
  margin-top: calc(var(--lineHeight) * var(--fontSize));
}

html {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 100%;
  line-height: var(--lineHeight);

  overflow: auto;

  box-sizing: border-box;

  text-rendering: optimizeLegibility;
}

body {
  margin-top: 0;
}

article,
aside,
details
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
