<label class="db" for="soundfont">Soundfont</label>
<select id="soundfont" name="soundfont">
  {% for label, optgroup in generalMidi %}
    <optgroup label="{{ label }}">
      {% for option in optgroup %}
        {% set text = option | replace(r/\d+/, "") | trim %}
        {% set value = text | replace(" ", "_") | replace(r/[()]/g, "") | lower %}
        <option value="{{ value }}"{% if value == initialState.soundfont %} selected{% endif %}>{{ text }}</option>
      {% endfor %}
    </optgroup>
  {% endfor %}
</select>
