<!--TODO ng-repeat="key in vm.keys"-->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 518 99" class="PianoRoll">

  <rect width="8" height="48" x="0" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(21)" ng-mouseup="vm.noteOff(21)" />
    <rect width="8" height="48" x="5" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(22)" ng-mouseup="vm.noteOff(22)" />
  <rect width="8" height="48" x="10" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(23)" ng-mouseup="vm.noteOff(23)" />

  <rect width="8" height="48" x="20" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(24)" ng-mouseup="vm.noteOff(24)" />
    <rect width="8" height="48" x="25" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(25)" ng-mouseup="vm.noteOff(25)" />
  <rect width="8" height="48" x="30" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(26)" ng-mouseup="vm.noteOff(26)" />
    <rect width="8" height="48" x="35" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(27)" ng-mouseup="vm.noteOff(27)" />
  <rect width="8" height="48" x="40" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(28)" ng-mouseup="vm.noteOff(28)" />
  <rect width="8" height="48" x="50" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(29)" ng-mouseup="vm.noteOff(29)" />
    <rect width="8" height="48" x="55" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(30)" ng-mouseup="vm.noteOff(30)" />
  <rect width="8" height="48" x="60" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(31)" ng-mouseup="vm.noteOff(31)" />
    <rect width="8" height="48" x="65" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(32)" ng-mouseup="vm.noteOff(32)" />
  <rect width="8" height="48" x="70" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(33)" ng-mouseup="vm.noteOff(33)" />
    <rect width="8" height="48" x="75" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(34)" ng-mouseup="vm.noteOff(34)" />
  <rect width="8" height="48" x="80" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(35)" ng-mouseup="vm.noteOff(35)" />

  <rect width="8" height="48" x="90" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(36)" ng-mouseup="vm.noteOff(36)" />
    <rect width="8" height="48" x="95" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(37)" ng-mouseup="vm.noteOff(37)" />
  <rect width="8" height="48" x="100" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(38)" ng-mouseup="vm.noteOff(38)" />
    <rect width="8" height="48" x="105" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(39)" ng-mouseup="vm.noteOff(39)" />
  <rect width="8" height="48" x="110" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(40)" ng-mouseup="vm.noteOff(40)" />
  <rect width="8" height="48" x="120" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(41)" ng-mouseup="vm.noteOff(41)" />
    <rect width="8" height="48" x="125" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(42)" ng-mouseup="vm.noteOff(42)" />
  <rect width="8" height="48" x="130" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(43)" ng-mouseup="vm.noteOff(43)" />
    <rect width="8" height="48" x="135" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(44)" ng-mouseup="vm.noteOff(44)" />
  <rect width="8" height="48" x="140" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(45)" ng-mouseup="vm.noteOff(45)" />
    <rect width="8" height="48" x="145" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(46)" ng-mouseup="vm.noteOff(46)" />
  <rect width="8" height="48" x="150" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(47)" ng-mouseup="vm.noteOff(47)" />

  <rect width="8" height="48" x="160" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(48)" ng-mouseup="vm.noteOff(48)" />
    <rect width="8" height="48" x="165" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(49)" ng-mouseup="vm.noteOff(49)" />
  <rect width="8" height="48" x="170" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(50)" ng-mouseup="vm.noteOff(50)" />
    <rect width="8" height="48" x="175" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(51)" ng-mouseup="vm.noteOff(51)" />
  <rect width="8" height="48" x="180" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(52)" ng-mouseup="vm.noteOff(52)" />
  <rect width="8" height="48" x="190" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(53)" ng-mouseup="vm.noteOff(53)" />
    <rect width="8" height="48" x="195" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(54)" ng-mouseup="vm.noteOff(54)" />
  <rect width="8" height="48" x="200" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(55)" ng-mouseup="vm.noteOff(55)" />
    <rect width="8" height="48" x="205" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(56)" ng-mouseup="vm.noteOff(56)" />
  <rect width="8" height="48" x="210" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(57)" ng-mouseup="vm.noteOff(57)" />
    <rect width="8" height="48" x="215" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(58)" ng-mouseup="vm.noteOff(58)" />
  <rect width="8" height="48" x="220" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(59)" ng-mouseup="vm.noteOff(59)" />

  <rect width="8" height="48" x="230" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(60)" ng-mouseup="vm.noteOff(60)" />
    <rect width="8" height="48" x="235" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(61)" ng-mouseup="vm.noteOff(61)" />
  <rect width="8" height="48" x="240" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(62)" ng-mouseup="vm.noteOff(62)" />
    <rect width="8" height="48" x="245" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(63)" ng-mouseup="vm.noteOff(63)" />
  <rect width="8" height="48" x="250" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(64)" ng-mouseup="vm.noteOff(64)" />
  <rect width="8" height="48" x="260" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(65)" ng-mouseup="vm.noteOff(65)" />
    <rect width="8" height="48" x="265" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(66)" ng-mouseup="vm.noteOff(66)" />
  <rect width="8" height="48" x="270" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(67)" ng-mouseup="vm.noteOff(67)" />
    <rect width="8" height="48" x="275" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(68)" ng-mouseup="vm.noteOff(68)" />
  <rect width="8" height="48" x="280" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(69)" ng-mouseup="vm.noteOff(69)" />
    <rect width="8" height="48" x="285" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(70)" ng-mouseup="vm.noteOff(70)" />
  <rect width="8" height="48" x="290" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(71)" ng-mouseup="vm.noteOff(71)" />

  <rect width="8" height="48" x="300" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(72)" ng-mouseup="vm.noteOff(72)" />
    <rect width="8" height="48" x="305" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(73)" ng-mouseup="vm.noteOff(73)" />
  <rect width="8" height="48" x="310" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(74)" ng-mouseup="vm.noteOff(74)" />
    <rect width="8" height="48" x="315" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(75)" ng-mouseup="vm.noteOff(75)" />
  <rect width="8" height="48" x="320" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(76)" ng-mouseup="vm.noteOff(76)" />
  <rect width="8" height="48" x="330" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(77)" ng-mouseup="vm.noteOff(77)" />
    <rect width="8" height="48" x="335" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(78)" ng-mouseup="vm.noteOff(78)" />
  <rect width="8" height="48" x="340" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(79)" ng-mouseup="vm.noteOff(79)" />
    <rect width="8" height="48" x="345" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(80)" ng-mouseup="vm.noteOff(80)" />
  <rect width="8" height="48" x="350" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(81)" ng-mouseup="vm.noteOff(81)" />
    <rect width="8" height="48" x="355" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(82)" ng-mouseup="vm.noteOff(82)" />
  <rect width="8" height="48" x="360" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(83)" ng-mouseup="vm.noteOff(83)" />

  <rect width="8" height="48" x="370" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(84)" ng-mouseup="vm.noteOff(84)" />
    <rect width="8" height="48" x="375" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(85)" ng-mouseup="vm.noteOff(85)" />
  <rect width="8" height="48" x="380" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(86)" ng-mouseup="vm.noteOff(86)" />
    <rect width="8" height="48" x="385" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(87)" ng-mouseup="vm.noteOff(87)" />
  <rect width="8" height="48" x="390" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(88)" ng-mouseup="vm.noteOff(88)" />
  <rect width="8" height="48" x="400" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(89)" ng-mouseup="vm.noteOff(89)" />
    <rect width="8" height="48" x="405" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(90)" ng-mouseup="vm.noteOff(90)" />
  <rect width="8" height="48" x="410" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(91)" ng-mouseup="vm.noteOff(91)" />
    <rect width="8" height="48" x="415" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(92)" ng-mouseup="vm.noteOff(92)" />
  <rect width="8" height="48" x="420" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(93)" ng-mouseup="vm.noteOff(93)" />
    <rect width="8" height="48" x="425" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(94)" ng-mouseup="vm.noteOff(94)" />
  <rect width="8" height="48" x="430" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(95)" ng-mouseup="vm.noteOff(95)" />

  <rect width="8" height="48" x="440" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(96)" ng-mouseup="vm.noteOff(96)" />
    <rect width="8" height="48" x="445" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(97)" ng-mouseup="vm.noteOff(97)" />
  <rect width="8" height="48" x="450" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(98)" ng-mouseup="vm.noteOff(98)" />
    <rect width="8" height="48" x="455" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(99)" ng-mouseup="vm.noteOff(99)" />
  <rect width="8" height="48" x="460" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(100)" ng-mouseup="vm.noteOff(100)" />
  <rect width="8" height="48" x="470" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(101)" ng-mouseup="vm.noteOff(101)" />
    <rect width="8" height="48" x="475" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(102)" ng-mouseup="vm.noteOff(102)" />
  <rect width="8" height="48" x="480" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(103)" ng-mouseup="vm.noteOff(103)" />
    <rect width="8" height="48" x="485" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(104)" ng-mouseup="vm.noteOff(104)" />
  <rect width="8" height="48" x="490" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(105)" ng-mouseup="vm.noteOff(105)" />
    <rect width="8" height="48" x="495" class="PianoRoll-key PianoRoll-key--accidental"
      ng-mousedown="vm.noteOn(106)" ng-mouseup="vm.noteOff(106)" />
  <rect width="8" height="48" x="500" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(107)" ng-mouseup="vm.noteOff(107)" />

  <rect width="8" height="48" x="510" y="50" class="PianoRoll-key PianoRoll-key--natural"
    ng-mousedown="vm.noteOn(108)" ng-mouseup="vm.noteOff(108)" />
</svg>
