<div layout-gt-xs="row">
  <md-card flex>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Oscillator</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-content>
      <md-input-container>
        <label>Type</label>
        <md-select ng-model="vm.params.oscillator.type">
          <md-option ng-repeat="type in vm.oscillators">{{ type }}</md-option>
        </md-select>
      </md-input-container>

      <h3>Envelope</h3>
      <div layout>
        <div flex="10" layout layout-padding layout-align="end center">Attack</div>

        <md-slider id="envelope-attack" min="0" max="1" step="0.001"
          aria-label="Envelope attack"
          ng-model="vm.params.envelope.attack"
          flex>
        </md-slider>

        <div flex="20" layout layout-align="center center">
          <input type="number" min="0" max="1" step="0.001"
            aria-label="Envelope attack" aria-controls="envelope-attack"
            ng-model="vm.params.envelope.attack">
        </div>
      </div>

      <div layout>
        <div flex="10" layout layout-padding layout-align="end center">Decay</div>

        <md-slider id="envelope-decay" min="0" max="1" step="0.001"
          aria-label="Envelope decay"
          ng-model="vm.params.envelope.decay"
          flex>
        </md-slider>

        <div flex="20" layout layout-align="center center">
          <input type="number" min="0" max="1" step="0.001"
            aria-label="Envelope decay" aria-controls="envelope-decay"
            ng-model="vm.params.envelope.decay">
        </div>
      </div>

      <div layout>
        <div flex="10" layout layout-padding layout-align="end center">Sustain</div>

        <md-slider id="envelope-sustain" min="0" max="1" step="0.001"
          aria-label="Envelope sustain"
          ng-model="vm.params.envelope.sustain"
          flex>
        </md-slider>

        <div flex="20" layout layout-align="center center">
          <input type="number" min="0" max="1" step="0.001"
            aria-label="Envelope sustain" aria-controls="envelope-sustain"
            ng-model="vm.params.envelope.sustain">
        </div>
      </div>

      <div layout>
        <div flex="10" layout layout-padding layout-align="end center">Release</div>

        <md-slider id="envelope-release" min="0" max="1" step="0.001"
          aria-label="Envelope release"
          ng-model="vm.params.envelope.release"
          flex>
        </md-slider>

        <div flex="20" layout layout-align="center center">
          <input type="number" min="0" max="1" step="0.001"
            aria-label="Envelope release" aria-controls="envelope-release"
            ng-model="vm.params.envelope.release">
        </div>
      </div>
    </md-card-content>
  </md-card>

  <md-card flex>
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Filter</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-content>
      <md-input-container>
        <label>Type</label>
        <md-select ng-model="vm.params.filter.type">
          <md-option ng-repeat="type in vm.filters">{{ type }}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>Rolloff</label>
        <md-select ng-model="vm.params.filter.rolloff">
          <md-option ng-repeat="value in vm.rolloffs">{{ value }}</md-option>
        </md-select>
      </md-input-container>

      <md-slider min="0" max="10000"
        aria-label="Filter frequency"
        ng-model="vm.params.filter.frequency">
      </md-slider>

      <md-slider min="0" max="1000"
        aria-label="Filter Q value"
        ng-model="vm.params.filter.Q">
      </md-slider>

      <h3>Envelope</h3>

      <div layout>
        <div flex="10" layout layout-padding layout-align="end center">Attack</div>

        <md-slider id="filter-envelope-attack" min="0" max="1" step="0.001"
          aria-label="Filter envelope attack"
          ng-model="vm.params.filterEnvelope.attack"
          flex>
        </md-slider>

        <div flex="20" layout layout-align="center center">
          <input type="number" min="0" max="1" step="0.001"
            aria-label="Filter envelope attack" aria-controls="filter-envelope-attack"
            ng-model="vm.params.filterEnvelope.attack">
        </div>
      </div>

      <div layout>
        <div flex="10" layout layout-padding layout-align="end center">Decay</div>

        <md-slider id="filter-envelope-decay" min="0" max="1" step="0.001"
          aria-label="Filter envelope decay"
          ng-model="vm.params.filterEnvelope.decay"
          flex>
        </md-slider>

        <div flex="20" layout layout-align="center center">
          <input type="number" min="0" max="1" step="0.001"
            aria-label="Filter envelope decay" aria-controls="filter-envelope-decay"
            ng-model="vm.params.filterEnvelope.decay">
        </div>
      </div>

      <div layout>
        <div flex="10" layout layout-padding layout-align="end center">Sustain</div>

        <md-slider id="filter-envelope-sustain" min="0" max="1" step="0.001"
          aria-label="Filter envelope sustain"
          ng-model="vm.params.filterEnvelope.sustain"
          flex>
        </md-slider>

        <div flex="20" layout layout-align="center center">
          <input type="number" min="0" max="1" step="0.001"
            aria-label="Filter envelope sustain" aria-controls="filter-envelope-sustain"
            ng-model="vm.params.filterEnvelope.sustain">
        </div>
      </div>

      <div layout>
        <div flex="10" layout layout-padding layout-align="end center">Release</div>

        <md-slider id="filter-envelope-release" min="0" max="1" step="0.001"
          aria-label="Filter envelope release"
          ng-model="vm.params.filterEnvelope.release"
          flex>
        </md-slider>

        <div flex="20" layout layout-align="center center">
          <input type="number" min="0" max="1" step="0.001"
            aria-label="Filter envelope release" aria-controls="filter-envelope-release"
            ng-model="vm.params.filterEnvelope.release">
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
