---
layout: default
---

<form>
  {% for route in routes %}
    <div id="{{ route.path }}" class="[ view ] [ stack ]">
      {% include "routes/" + route.path + ".njk" ignore missing %}
    </div>
  {% endfor %}
</form>
