{% extends "templates/base.njk" %}

{% block content %}

{% for route in routes %}
  <div id="{{ route.path }}" class="view pt5">
    {% include "templates/routes/" + route.path + ".njk" ignore missing %}
  </div>
{% endfor %}

{% endblock %}
